@page "/"

<PageTitle>Index</PageTitle>
@*import image as background of page content *@
<img src="images/phonebook.jpg" alt="phonebook" style="width:100%;height:100%;position:absolute;z-index:-1;">

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="index-head">Welcome to Phone Book Administrator!</h1>
        </div>
    </div>
</div>

@*<SurveyPrompt Title="How is Blazor working for you?" />
*@