@page "/"

<PageTitle>Index</PageTitle>


<img src="images/phonebook.jpg" alt="phonebook" style="width:100%;height:100%;position:absolute;z-index:-1;">

<div class="main-view">
    <h1 class="index-head">Welcome to Phone Book Administrator!</h1>
</div>
