@page "/User"

<h3>PhoneBookListFromDB</h3>

<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Phone Books List</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="User/create" class="btn btn-primary form-control">Add New Contact</a>
    </div>
</div>

@code {

}
