@page "/AdditionalPages/AddContact"

<h3>Add Contact</h3>

@code {
    UsersModels.UsersLibrary.UserItems UserItems = new()
    {
        Id = 1,
        Name = "Dimo",
        Email = "baal_98@abv.bg",
        Address = "Vratsa",
        Phone = "00359879641776",
        Facebook = "NA",
        IsActive = true
    };
}
